* {
  outline: none;
}

#root .emoji-mart-emoji {
  margin-bottom: -3px;
  position: initial;
}

#root .emoji-mart-emoji:hover:before {
  width: 0;
  height: 0;
}

#root .emoji-mart .emoji-mart-emoji > span {
  cursor: pointer;
}

[contenteditable='true']:empty:before {
  content: attr(placeholder);
  display: block;
  color: #aaa;
}

img[src=''] {
  content: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}
